*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: system-ui, sans-serif;
}
nav{
    padding: 16px 64px;
}
nav .nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button{
    background-color: black;
    padding: 16px 32px;
    color: white;
    font-weight: 900;
    border: none;
}
header{
    padding: 112px 64px;
}
header .header_container{
    display: flex;
    align-items: center;
    gap: 80px;
}
header .header_container .header_content{
    width: 50%;
}
header .header_container .header_content h1{
    font-size: 56px;
    line-height: 120%;
    font-weight: bold;
    margin-bottom: 24px;
}
header .header_container .header_cta{
    margin-top: 40px;
}
header .header_container .header_image_w{
    width: 50%;
    height: 640px;
}
header .header_container .header_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.services{
    padding: 112px 64px;
    background-color: #F4F4F4;
}
.service_container .service_header h2{
    font-size: 40px;
    line-height: 120%;
    font-weight: bold;
    text-align: center;
}
.service_container .service_content{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: 48px;
}
.services_wrap{
    border: 1px solid black;
}
.service_img{
    width: 100%;
    object-fit: cover;
}
.service_p{
    font-size: 24px;
    font-weight: bold;
    line-height: 140%;
    margin-top: 32px;
    text-align: center;
}



/*Tablet-Responsive design*/

@media screen and (max-width:768px) {
    nav{
        padding: 16px 32px;
    }
    header{
        padding: 80px 32px;
    }
    header .header_container{
        flex-direction: column;
    }
    header .header_container .header_content{
        width: 100%;
        text-align: center;
    }
    header .header_container .header_image_w{
        width: 100%;
    }
    .services{
        padding: 80px 32px;
    }
    .services_wrap{
    }
    .service_container .service_content{
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 48px;
    }



}

/*mobile-Responsive design*/

@media screen and (max-width:468px) {
    nav{
        padding: 16px 16px;
    }
    button{
        padding: 12px 24px;
    }
    header{
        padding: 80px 16px;
    }
    header .header_container .header_image_w{
        height: 444px;
    }
    .services{
        padding: 80px 16px;
    }
}